extends layouts/_layout.pug

block variables
	- var activePage = 'events'
	- var activeGroup = 'events'

block title
	title Редактировать семинар - Админка ЦСН

block content
	input#upload(type="file" hidden)
	.app-title
		div
			h1
				i.fa.fa-edit
				|  Редактировать семинар

		ul.app-breadcrumb.breadcrumb
			li.breadcrumb-item
				i.fa.fa-home.fa-lg
			li.breadcrumb-item
				a(href='/wtf/events') Семинары
			li.breadcrumb-item
				a(href='#') Редактировать семинар
	#app
		.row.text-right
			.col-lg-12
				button.btn.btn-primary.icon-btn.pull-right(@click="showEdit = true" :hidden="showEdit")
					i.fa.fa-edit
					| Редактировать
				button.btn.btn-success.icon-btn.pull-right(@click="modifyEvent" :hidden="!showEdit" v-if="!loading")
					i.fa.fa-check
					| Сохранить
				button.btn.btn-success.icon-btn(disabled v-else) 
					i.fa.fa-circle-notch.fa-spin
					| Сохраняю...
				button.btn.btn-danger.icon-btn.pull-right(@click="deleteEvent" :hidden="!showEdit" style="margin-left: 5px;")
					i.fa.fa-trash
					| УДАЛИТЬ

		.row(:hidden="showEdit" style='margin-top: 20px;')
			.col-lg-4
				.tile
					.tile-title
						h4.title Информация
						hr
					.tile-content
						h6 Название семинара
						p {{ title }}

						h6 Дата
						p {{ date }}

						h6 Время
						p {{ time }}

						h6 Стоимость
						p {{ free ? 'Бесплатно' : 'Стоимость: ' + price }}

						h6 Запись на семинар
						.toggle-flip
							label
								input(ref="toggleIsActive" type="checkbox" @input="toggleIsActive")
								span.flip-indecator(data-toggle-on="Открыта", data-toggle-off="Закрыта" style="width: 100px;")
			.col-lg-8
				.tile
					.tile-title
						h4.title Описание
						hr
					.tile-content
						p(v-html="content")
			
		.row(:hidden="!showEdit" style='margin-top: 20px;')
			.col-lg-4
				.tile
					.tile-title
						h4.title Информация
					.tile-content
						hr
						h6 Название семинара
						.input-group.input-group-sm
							input.form-control#title(type='text' v-model="title" maxlength="90")
						br
						h6 Дата
						.input-group.input-group-sm
							input.form-control#date(type='text')
							.input-group-append
								.input-group-text
									i.fa.fa-calendar
						br
						h6 Время
						.input-group.input-group-sm
							input.form-control#time(type='text')
							.input-group-append
								.input-group-text
									i.fa.fa-clock
						br
						h6 Стоимость
						.input-group.input-group-sm
							input.form-control(type='number' v-model="price" v-if='!free')
							.input-group-append(v-if="!free")
								.input-group-text
									i.fa.fa-ruble-sign
						.animated-checkbox
							label
								input(type='checkbox' v-model="free")
								span.label-text Бесплатный
					

			.col-lg-8
				.tile
					.tile-title
						h4.title Описание
					.tile-content
						hr
						vue-tinymce.form-control(v-model="content" :options="tinymceOptions")

		.row
			.col-lg-12
				.tile
					.tile-title
						h4.title Записи
					.tile-content
						table.table.table-sm.table-hover
							thead
								tr
									th Телефон
									th ФИО
									th Email
							tbody
								each r in evt.records
									tr
										td #{r.tel}
										if (r.lname)
											td #{r.name + ' ' + r.lname}
										else
											td #{r.name}
										td #{r.email}


block specific-js
	script(src='https://unpkg.com/axios/dist/axios.min.js')
	script(src='/js/admin-js/plugins/tinymce/tinymce.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-maxlength/1.7.0/bootstrap-maxlength.min.js')
	script(src='/js/admin-js/plugins/bootstrap-datepicker.min.js')
	script(src='/js/admin-js/plugins/bootstrap-datepicker.ru.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js')
	script(src='/js/admin-js/plugins/sweetalert.min.js')
	script(src='/js/admin-js/vue/edit-event.js')
	script.
		$(document).ready(() => {
			$('#title').maxlength({
				alwaysShow: false,
				threshold: 90,
				separator: '/',
				validate: true
			});
		});