include ../components/_ui-card

// Box Info
article.box-info.box-info-2
	.box-info-main.context-dark: .box-info-main-inner
		h2 Хотите задать свой вопрос?
		// RD Mailform
		form.rd-form#question-form(
		data-form-output='form-output-global'
		data-form-type='question')
			.row.row-20
				.col-12
					.form-wrap
						input#question-name.form-input(type='name' name='name' data-constraints='@Required')
						label.form-label(for='question-name') Ваше имя
				.col-12
					.form-wrap
						input#question-tel.form-input(type='tel' name='tel' data-constraints='@Required')
						label.form-label(for='question-tel') 8 (___) ___-__-__
				.col-12
					.form-wrap
						input#question-email.form-input(type='email' name='email' data-constraints='@Email @Required')
						label.form-label(for='question-email') E-mail
				.col-12
					.form-wrap
						label.form-label(for='question-message') Ваш вопрос
						textarea#question-message.form-input(name='message' data-constraints='@Required')
				.col-12
					center
						.recaptcha#recaptcha-question(data-sitekey='6Lc8t30UAAAAAL4ngQMStrVcGhqDWjkp5X3ZuBh8' data-widget-id='recaptcha-question')
				.col-12
					center
						button.button.button-secondary#sendBtn(onclick='sendQuestion()') Отправить
						//- button.button.button-secondary(type='submit') Отправить

	.box-info-aside
		// Bootstrap collapse
		#accordion1.card-group-custom.card-group-corporate(role='tablist' aria-multiselectable='false')
			+card({
				parentId: 'accordion1',
				number: '1',
				header: 'Сколько стоит сейфовая ячейка?'
			}).card-corporate
				div(style='color: black; text-align: justify; text-justify: inter-word;')
					p Стоимость услуг по аренде сейфовой ячейки, в соответствии с тарифами « Центра сделок с недвижимостью», включает в себя:
					ul.list-3
						li стоимость составления договора аренды сейфовой ячейки, исходя из его типа;
						li аренду сейфовой ячейки, исходя из срока пользования и размеров арендуемой ячейки;
						li количества и типа персонифицированных условий доступа к сейфовой ячейке;
						li количества арендаторов;
						li других используемых услуг (аренда переговорной, услуга пересчета и проверки денежных средств, и т.п.);
					p Пакеты для закладки на хранение денежных средств предоставляются бесплатно.
					p Например:
					ul.list-3
						li Оформление договора аренды сейфовой ячейки коллективного пользования (с услугой «Эксперт-сейфинг») (1 Объект) = 3 000 ₽;
						li Аренда ячейки на 30 дней, выбранная ячейка высотой 50 мм = 50 ₽/день * 30 дней = 1 500 ₽/за 30 дней;
						li Аренда переговорной комнаты  с 4 февраля 2019 года = 500 ₽/1 час
					p 
						strong Итого базовая стоимость: 3 500 руб + 1 500 руб +  500 руб = 5 500 руб.
					p С тарифами на аренду сейфовых ячеек Вы можете ознакомиться в разделе Услуги
					br
					center
						a.button.button-sm.button-secondary(href='/services') Услуги Центра


			+card({
				show: true,
				parentId: 'accordion1',
				number: '2',
				header: 'Какие документы необходимы для создания проекта договора сейфовой ячейки?'
			}).card-corporate
				div(style='color: black; text-align: justify; text-justify: inter-word;')
					ul.list-3
						li Документы, удостоверяющие личность (паспорта арендаторов)
						li Копии правоустанавливающих документов на объект недвижимости для корректного отображения этих данных в договоре аренды сейфовой ячейки
					p Полный список документов формируется исходя из особенностей вашей сделки. 
					p В нашем «Центре сделок с недвижимостью» мы поможем вам провести взаиморасчеты между Продавцом и Покупателем, составим для вас Договор отчуждения в простой письменной форме, проверим «чистоту» объекта недвижимости.  Звоните в «Центр сделок с недвижимостью», по телефону 401-63-54.  
					br
					center
						a.button.button-sm.button-secondary(href='/services') Весь спектр наших услуг

			+card({
				parentId: 'accordion1',
				number: '3',
				header: 'Как вы работаете?'
			}).card-corporate
				div(style='color: black; text-align: justify; text-justify: inter-word;')
				p Мы работаем для Вас с 9:00 до 21:00 с понедельника по субботу, без перерыва на обед. Доступ в сейфовое хранилище осуществляется с 9:30 до 20:30, в порядке «живой» очереди
				p О нерабочих днях информация публикуется на нашем сайте.


			+card({
				parentId: 'accordion1',
				number: '4',
				header: 'Есть ли у вас услуга проверки денег?'
			}).card-corporate
				div(style='color: black; text-align: justify; text-justify: inter-word;')
					p В «Центре сделок с недвижимостью» есть два варианта проверки денежных средств.
					p 1) Проверка подлинности и пересчет с сертифицированным специалистом (все менеджеры по сопровождению сделки имеют  стоит 0,05% от суммы пересчета, максимум 50 000 рублей (с 04 февраля 2019 года)
					p 2) Аренда машинки для проверки и пересчета денежных средств:
					ul.list-3
						li Стоимость аренды составляет 500 руб. за каждый миллион, но не более 2 000 руб.
					p Например:
					p Необходимо проверить 5 000 000 руб.
					ul.list-3
						li Стоимость проверки  с сертифицированным специалистом составит 2 500 руб;
						li Стоимость аренды машинки для проверки и пересчета денежных средств составит 2 000 руб.
						

script.
	"use strict";
	let sendQuestion = () => {
		let form = $("#question-form")
				,data = { 'g-recaptcha-response': grecaptcha.getResponse($("#recaptcha-question").attr('data-widget-id')) }
				,email = $('#question-email').val()
				,question = $('#question-message').val()
				,tel = $('#question-tel').val()
				,name = $('#question-name').val()
				,isAllValid = grecaptcha.getResponse($("#recaptcha-question").attr('data-widget-id')) && email && question && tel.length === 17 && name;

		if (isAllValid) {
			$.ajax({
				type: 'POST',
				url: '/api/check-recaptcha',
				data: data,
				success (res) {
					if (res.success) {
						$.ajax({
							type: 'POST',
							url: '/api/create-question',
							data: { name, tel, email, question },
							success (res) {
								if (res.success) {
									showSnack('success', 'Сообщение отправлено');
									form[0].reset();
									grecaptcha.reset();
								} else showSnack('error', 'Что-то пошло не так');
							}
						});
					} else showSnack('error', 'Проверка не пройдена');
				}
			});
		} else showSnack('error', 'Все поля обязательны');
	};
	$(document).ready(() => { 
		let form = $("#question-form");
		form.on('submit', (e) => {
			e.preventDefault();
		});
		$("#question-tel").mask("8 (000) 000-00-00");
	});
	