meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')

// Main CSS
link(rel='stylesheet', type='text/css', href='/css/admin-css/main.css')
// My crutches
link(rel='stylesheet', type='text/css', href='/css/admin-css/crutch.css')

// Font-icon css
//- link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")
// DatTime picker
//- link(rel='stylesheet', type='text/css', href='/admin/css/jquery.datetimepicker.min.css')
// Timepicker
link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css')
