// JQuery
script(src='/js/admin-js/jquery-3.2.1.min.js')
script(src='/js/admin-js/jquery-ui.min.js')
script(src='/js/admin-js/plugins/jquery.cookie.js')

// My crutches =)
script(src='/js/admin-js/crutch.js')

// Essential javascripts for application to work
script(src='/js/admin-js/popper.min.js')
script(src='/js/admin-js/bootstrap.min.js')
script(src='/js/admin-js/main.js')

// The javascript plugin to display page loading on top
script(src='/js/admin-js/plugins/pace.min.js')

// Moment
script(src='/js/admin-js/plugins/moment.min.js')

// Vue
script(src='/js/vue/vue.js')
//- script(src='js/vue/vue.min.js')

// Notify
script(type='text/javascript', src="/js/admin-js/plugins/bootstrap-notify.min.js")