mixin subscribe-event-form(id)
  form.rd-form.rd-form-inline#event-form(
    data-form-output='form-output-global'
    data-form-type='event')
      .form-wrap
        input.form-input(id='event-form-tel' type='tel' name='tel' data-constraints='@Required')
        label.form-label(for='event-form-tel') 8 (___) ___-__-__
      .form-button
        span.button.button-outline#rec-event-btn(onclick='recToEvent()') Записаться

  script.
    $(document).ready(() => {
      let tel = $('#event-form-tel');

      tel.mask('8 (000) 000-00-00');
      //- $('#rec-event-btn').one('click', function() {
      //-   recToEvent(tel.val());
      //- })
    });